@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap');

:root {
    /* colors */
	--main-color: #0164C1;
	--black-color: #070513;
	--white-color: #FFFFFF;
	--main-color-light: #8DC3F5;
    --main-color-super-light: #E3F2FF; /* for form */
    --accent-color: #01C1BE; /* for button */
    --accent-color-light: #AEF7F6;
    --production-color: #C10164;
    --trading-color: #64C101;

    /* font */
	--ff-primary: 'Rajdhani', sans-serif;

    --fw-light: 300;
	--fw-regular: 400;
	--fw-semi-bold: 600;

	--fs-400: 1.25rem; /* 20px navbar links */
	--fs-600: 1.563rem; /* 25px paragraph */
    --fs-700: 1.875rem; /* 30px form's headline */
    --fs-800: 2.5rem; /* 40px form's headline */
	--fs-900: 2.813rem; /* 45px headlines */
}

/* **************** global styles **************** */

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

html {
    scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
    display: flex;
    flex-direction: column;
	background-color: var(--white-color);
    overflow-x: hidden;
}

/* **************** HEADER **************** */

#header-top {
	width: 100%;
	height: 6rem;
	background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

#navbar {
    width: 60rem;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

#navigation-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2.5rem;
    justify-items: center;
    padding: 0;
}

#navigation-links a {
    display: block;
    height: 2rem;
    line-height: 2rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--black-color);
}

#navigation-links a::after {
    content: "";
    display: none;
    position: relative;
    width: auto;
    height: .1rem;
    background-color: var(--main-color-light);
    animation-duration: .5s;
    animation-name: lineUnder;
    margin-bottom: .1rem;
}

#navigation-links a:hover::after  {
    display: block;
}

@keyframes lineUnder {
    0% { width: 0;}
    100% { width: 100%;}
}


.choose-lang-triangle {
    color: var(--main-color-light);
    margin-top: .3rem;
}

/* **************** MAIN SECTION **************** */

#main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../img/main-section-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 57vw;
}

#main-headline {
    font-size: var(--fs-900);
    color: var(--white-color);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    text-align: center;
}

#button-down-container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    row-gap: .8rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    color: var(--white-color);
}

#button-down-arrow { 
    width: 2.625rem;
    cursor: pointer;
}

#button-down-arrow:hover { 
    filter: hue-rotate(40deg);
    transition: all .3s ease-in-out;
}

/* **************** CIRCULAR MENU SECTION **************** */

#circular-nav {
    position: relative;
    margin: 10rem auto 0 auto;
    padding: 0;
    width: min(37.5rem, 60%);
    height: 0;
    padding-top: min(37.5rem, 60%);
}

#circular-menu {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: grab;
 }

#circular-menu .button { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sector-path);
    transition: 0.3s;
    filter: opacity(20%); /*drop-shadow(17rem -8rem 4rem #8DC3F5);*/
    z-index: 70;
 }

/* bg independent */
#circular-menu .button::before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
 
 #circular-menu .button:hover {
    filter: opacity();
    scale: 1.05;
    z-index: 98;
}

 #sector-outside {
    display: block;
    position: absolute;  
    top: -10%;
    left: -10%;
    width: min(50rem, 120%);
    height: 0;
    padding-top: min(50rem, 120%);
    border-radius: 50%;
 }

 #text-on-circle-outside {
    display: block;
    position: absolute;  
    top: -10%;
    left: -10%;
    width: min(56.25rem, 120%);
    height: min(56.25rem, 120%);
    transform: rotate(64deg);
    fill: var(--main-color);
    font-size: .3rem;
    font-weight: var(--fw-semi-bold)
}

#sector-middle {
    display: block;
    position: absolute;
    background-color: var(--white-color);
    top: 37%;
    left: 35%;
    width: min(12.5rem, 30%);
    height: 0;
    padding-top: min(12.5rem, 30%);
    border-radius: 50%;
    z-index: 99;
    background-image: url('../img/logo-h4t.svg');
    background-size: min(6rem, 50%);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(.01rem .01rem 2rem #8DC3F5);
}

#sector-one { /* RECYKLING */
    transform: rotate(324deg);
}

#sector-one::before {
    background-image: url('../img/circular-menu-button-recykling.png');
}

#sector-two { /* ZAKUP */
    transform: rotate(252deg);
}

#sector-two::before {
    background-image: url('../img/circular-menu-button-dostawa.png');
}

#sector-three { /* DOSTAWA */
    transform: rotate(180deg);
}

#sector-three::before {
    background-image: url('../img/circular-menu-button-dostawa.png');
}

#sector-four { /* ZGRZEWANIE */
    transform: rotate(108deg);
}

#sector-four::before {
    background-image: url('../img/circular-menu-button-zgrzewanie.png');
}
 
#sector-five { /* PRODUKCJA */
    transform: rotate(36deg);
}

#sector-five::before {
    background-image: url('../img/circular-menu-button-produkcja.png');
}

.button-link {
    display: flex;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 28%;
    font-size: 0;
    color: var(--white-color);
    background-color: var(--main-color);
    transform: rotate(323deg);
    text-align: center;
    text-decoration: none;
    filter: drop-shadow(.01rem .01rem 2rem #8DC3F5);
    transition: .3s;
    align-items: center;
}

.button:hover .button-link,
.button-link:focus  {
    display: flex;
    top: 12%;
    left: 20%;
    width: 20%;
    height: 20%;
    font-size: 140%;  
}

/* work in progress */
.button-link:focus .button {
   filter: opacity(80%);
 }

.button-link:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse {
    0% { transform: scale(1) rotate(323deg)}
    50% { transform: scale(1.1) rotate(323deg)}
    100% { transform: scale(1) rotate(323deg)}
}

/* **************** PRODUCTION **************** */

#production {
    margin: 10rem 0 3rem 0;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: min(90%, 60rem);
    flex-wrap: wrap;
    justify-content: center;

}

/* **************** MAIN IMAGE SECTION **************** */

.main-image-section {
    width: max(60rem, 100%);
    height: 35rem;
    border-radius: 1rem;
    flex: 0 1 100%;
}

#production > main {
    flex: 1 1 52%;
}

#production > form {
    flex: 0 1 48%;
}

/* **************** HEADLINES **************** */

.line {
    height: 0.188rem;
    background-color: var(--main-color-light);
 }

 /* start 1st type with logo: */
.headline-with-logo {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
}

/* in order from left: */
 .logo-horizontal {
    width: 10rem;
    padding-right: 2rem;
 }
 
 .line-left {
    flex: 1 1 20%;
 }
 
.headline-next-to-logo {
    flex: 1 1 40%;
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-900);
    font-weight: var(--fw-semi-bold);
}

 .line-right {
    flex: 1 1 30%;
 }
 /* end 1st type with logo */


 /* start 2nd type without logo: */
.headline-clear {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.line-both {
    flex: 1 1 30%;
}

.headline {
    flex: 1 1 40%;
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-900);
    font-weight: var(--fw-semi-bold);
}
 /* end 2nd type without logo: */

p {
    color: var(--black-color);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    line-height: 2rem;
}

.expand-article-link {
    color: var(--accent-color);
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

/* **************** NEWS **************** */

#news {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: min(90%, 60rem);
    flex-wrap: wrap;
    justify-content: center;
}

.article-container {
    width: min(60rem, 90vw);
    height: auto;
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: var(--main-color-super-light);
    border-radius: 1.6rem;
    text-align: center;
    overflow: hidden;
}

.article-content {
    height: 9.7rem;
    overflow: hidden;
    transition: all 1s ease;
}

.article-container .expand {
    height: auto;
}

.expand {
    height: auto;
}

.article-container time {
    color: var(--black-color);
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
}

.article-container h4 {
    color: var(--main-color);
    font-size: var(--fs-800);
    font-weight: var(--fw-semi-bold);
    margin: 0;
}

.article-container p {
    margin: .7rem;
    text-align: left;
}

/* **************** FORM **************** */

.contact-form-headline {
    color: var(--main-color);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
}

form {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: end;
    justify-items: center;
    row-gap: .5rem;
}

a,
input,
textarea {
    outline: none;
}

a:focus,
input:focus,
textarea:focus {
    outline: 3px solid #0164C1;
}

.form-name,
.form-email,
.form-phone,
.form-message {
    width: 26rem;
    background-color: var(--main-color-super-light);
    border: 0;
    border-radius: 1rem;
    color: var(--main-color);
    font-weight: var(--fw-regular);
    font-size: var(--fs-600);
    text-indent: 1rem;
}

.form-name,
.form-email,
.form-phone {
    height: 2.5rem;
} 

.form-message {
    height: 14.5rem;
}

.form-submit {
    width: 10rem;
    height: 3.1rem;
    margin-top: .5rem;
    background-color: var(--accent-color);
    border: 0;
    padding: 0;
    border-radius: 1.5rem;
    color: var(--white-color);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--production-color);
    transition: all .5s ease-in-out;
}

/* **************** CONTACT **************** */

#contact {
    margin-top: 3rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: min(90%, 60rem);
    flex-wrap: wrap;
    justify-content: center;
}

.contact-data {
    display: grid;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    color: var(--white-color);
    margin-block: 8rem;
}

.contact-data a {
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--black-color);
}

.contact-data a:hover {
    font-weight: var(--fw-semi-bold);
    color: var(--main-color);
}

/* **************** FOOTER **************** */

footer {
    width: 100%;
    height: 6.75rem;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}

#footer-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white-color);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-400);
    text-align: center;
}

#footer-container > div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

/* **************** MEDIA QUERIES **************** */

@media (max-width: 75rem) { /* 1200px */

    #navbar {
        width: fit-content;
        column-gap: 4.5rem;
    }

}

@media (max-width: 64rem) { /* 1024px */



}






@media (max-width: 48rem) { /* 768px */
/* hamburger menu */


}





@media (max-width: 30rem) { /* 480px */



}


/* 
@media (max-width: 72.5rem) { /* 1160px */
/* 
    #production {
        margin-top: 10rem;
        display: grid;
        justify-content: center;
        width: 100%;
        place-self: center;
        grid-auto-flow: row;
    
    
    }
}  */