@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap');

:root {
    /* colors */
    --main-color: #0164C1;
    --black-color: #070513;
    --white-color: #FFFFFF;
    --main-color-light: #8DC3F5;
    --main-color-super-light: #E3F2FF; /* for form */
    --accent-color: #01C1BE; /* for button */
    --accent-color-light: #AEF7F6;
    --production-color: #C10164;
    --trading-color: #64C101;

    /* font */
    --ff-primary: 'Rajdhani', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

    --fs-300: 1.125rem; /* 18px */
    --fs-400: 1.25rem; /* 20px navbar links */
    --fs-600: 1.563rem; /* 25px paragraph */
    --fs-700: 1.875rem; /* 30px form's headline */
    --fs-800: 2.5rem; /* 40px form's headline */
    --fs-900: 2.813rem; /* 45px headlines */
}

/* **************** global styles **************** */

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

html {
    scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: var(--white-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    display: inline;
}

a,
a:link,
a:visited,
a:active,
input,
textarea {
    text-decoration: none;
    outline: none;
}

a:focus,
input:focus,
textarea:focus {
    outline: 3px solid #0164C1;
}

p,
ol,
ul {
    color: var(--black-color);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    line-height: 2rem;
    text-align: justify;
}

.center-text {
    text-align: center;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

/* **************** HEADER **************** */

#header-top {
	width: 100%;
	height: 6rem;
    position: fixed;
	background-color: var(--white-color);
    display: flex;
    justify-content: center;
    z-index: 101;
    filter: drop-shadow(-.5rem .5rem .5rem #d1e9ff7e);
}

#main-section {
    margin-top: 6rem;
}

#header-top #navbar {
    width: 60rem;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

#header-top #navbar nav {
    margin-left: 6rem;
}

#header-top #navbar nav #navigation-links {
    list-style: none;
    display: flex;
    column-gap: 2.5rem;
    padding: 0;
}

#header-top #navbar nav #navigation-links a {
    display: block;
    height: 2rem;
    line-height: 2rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--black-color);
}

#header-top #navbar nav #navigation-links a::after {
    content: "";
    display: none;
    position: relative;
    width: auto;
    height: .1rem;
    background-color: var(--main-color-light);
    animation: .5s lineUnder;
    margin-bottom: .1rem;
}

#header-top #navbar nav #navigation-links a:hover::after {
    display: block;
}

@keyframes lineUnder {
    0% { width: 0;}
    100% { width: 100%;}
}

#header-top #navbar #choose-lang {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#header-top #navbar #choose-lang .choose-lang-triangle {
    color: var(--main-color-light);
    margin-top: .3rem;
}

.sr-only {
    display: none;
}

#header-top #navbar nav #nav-mobile {
    display: none;
}

/* **************** MAIN SECTION **************** */

#main-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../img/main-section-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    z-index: 90;
}

#main-section #main-headline {
    font-size: var(--fs-900);
    color: var(--white-color);
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    text-align: center;
}

#main-section #button-down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    color: var(--white-color);
}

#main-section #button-down-container span {
    text-align: center;
}

#main-section #button-down-container a #button-down-arrow { 
    width: 2.625rem;
    cursor: pointer;
}

#main-section #button-down-container a #button-down-arrow:hover { 
    filter: hue-rotate(40deg);
    transition: all .3s ease-in-out;
}

/* **************** CIRCULAR MENU SECTION **************** */

#circular-menu-section {
    display: contents;
}

#circular-nav {
    position: relative;
    margin: 10rem auto 13rem auto;
    padding: 0;
    width: min(37.5rem, 75%);
    height: 0;
    padding-top: min(37.5rem, 75%);
}

#circular-menu {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   /* cursor: grab; */
 }

#circular-menu :not(.button, .button-link) {
    pointer-events: none;
}

#circular-menu .button { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: url(#sector-path);
    transition: 0.3s;
 /*   filter: opacity(20%); /*drop-shadow(17rem -8rem 4rem #8DC3F5);*/
    z-index: 70;
 }

/* bg independent */
#circular-menu .button::before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
 }
 
 #circular-menu .button:hover {
    filter: opacity();
    scale: 1.05;
    z-index: 98;
}

 #sector-outside {
    display: block;
    position: absolute;  
    top: -10%;
    left: -10%;
    width: min(50rem, 120%);
    height: 0;
    padding-top: min(50rem, 120%);
    border-radius: 50%;
 }

 #text-on-circle-outside {
    display: block;
    position: absolute;  
    top: -10%;
    left: -10%;
    width: min(56.25rem, 120%);
    height: min(56.25rem, 120%);
    transform: rotate(64deg);
    fill: var(--main-color);
    font-size: .3rem;
    font-weight: var(--fw-semi-bold)
}

#sector-middle {
    display: block;
    position: absolute;
    background-color: var(--white-color);
    top: 37%;
    left: 35%;
    width: min(12.5rem, 30%);
    height: 0;
    padding-top: min(12.5rem, 30%);
    border-radius: 50%;
    z-index: 99;
    background-image: url('../img/logo-h4t.svg');
    background-size: min(6rem, 50%);
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(.01rem .01rem 2rem #8DC3F5);
}

#sector-one { /* RECYKLING FOLII */
    transform: rotate(324deg);
}

#sector-one::before {
    background-image: url('../img/circular-menu-button-recykling.png');
}

#sector-two { /* ZAKUP ODPADU */
    transform: rotate(252deg);
}

#sector-two::before {
    background-image: url('../img/circular-menu-button-zakup.png');
}

#sector-three { /* DOSTAWA FOLII */
    transform: rotate(180deg);
}

#sector-three::before {
    background-image: url('../img/circular-menu-button-dostawa.png');
}

#sector-four { /* ZGRZEWANIE FOLII */
    transform: rotate(108deg);
}

#sector-four::before {
    background-image: url('../img/circular-menu-button-zgrzewanie.png');
}
 
#sector-five { /* PRODUKCJA FOLII */
    transform: rotate(36deg);
}

#sector-five::before {
    background-image: url('../img/circular-menu-button-produkcja.png');
}

.button-link {
    display: flex;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 28%;
    font-size: 0;
    color: var(--white-color);
    background-color: var(--main-color);
    transform: rotate(323deg);
    text-align: center;
    text-decoration: none;
    filter: drop-shadow(.01rem .01rem 2rem #8DC3F5);
    transition: .3s;
    align-items: center;
}

.button:hover .button-link,
.button-link:focus  {
    display: flex;
    top: 12%;
    left: 20%;
    width: 20%;
    height: 20%;
    font-size: 140%;  
}

/* work in progress */
.button-link:focus .button {
   filter: opacity(80%);
 }

.button-link:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
}

@keyframes pulse {
    0% { transform: scale(1) rotate(323deg)}
    50% { transform: scale(1.1) rotate(323deg)}
    100% { transform: scale(1) rotate(323deg)}
}

/* **************** COMMON STYLES FOR SECTIONS **************** */

.section-container {
    margin: 0 0 3rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: min(90%, 64rem);
    flex-wrap: wrap;
}

.ol-container {
    padding-inline-start: 0;
}

.section-container ol,
.section-container ul {
    list-style-position: inside;
    padding-inline-start: 0;
}

li::marker,
.list-item-headline {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    color: var(--main-color);
}

.list-item-headline {
    line-height: 3rem;
    text-transform: uppercase;
}

.technical-data {
    font-weight: var(--fw-semi-bold);
}

#ol-production-container {
    margin-block-end: 1.3rem;
}

#ol-welding-container-steps > li > ul {
    list-style-type: disc;
    padding-inline-start: 1.5rem;
}

#ul-production-container,
#ul-production-container ul {
    list-style: none;
}

/* padding after each element list of ol */
#ol-production-container > li,
#ul-production-container > li,
#ol-welding-container > li,
#ol-welding-container-steps > li {
    padding-block-end: 1.5rem;
}

#ol-production-container > li:last-child {
    padding-block-end: 0;
}

#ol-production-container > li > ul > li {
    padding-block-end: .4rem;
}

#ol-welding-container ul > *:nth-child(3) {
    padding-block: 1rem;
}

#ol-welding-container ul ul > *:nth-child(3) {
    padding-block: 0;
}

ol ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ol ul ul {
    list-style-type: disc;
    padding-inline-start: 2.5rem;
}

.contact-in-text-to-redirect {
    color: var(--main-color);
    font-weight: var(--fw-semi-bold);
}

.contact-in-text-to-redirect:hover {
    color: var(--production-color);
}

.triangle-to-expand-list {
    cursor: pointer;
    color: var(--main-color);
}

.list-expanded {
    display: none;
}

.list-expanded[data-visible="true"] {
    display: block;
}


/* **************** MAIN IMAGE SECTION **************** */

.main-image-section {
    width: 90%;
    border-radius: 1rem;
}

form,
.section-container-for-text {
    flex: 0 1 80%;
}

/* **************** HEADLINES **************** */

.line {
    height: 0.188rem;
    background-color: var(--main-color-light);
 }

 /* start 1st type with logo: */
.headline-with-logo {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    margin-bottom: 1.3rem;
}

/* in order from left: */
 .logo-horizontal {
    width: 10rem;
 }
 
 .line-left {
    flex: 1 1 20%;
 }
 
.headline-next-to-logo {
    flex: 1 1 40%;
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-900);
    font-weight: var(--fw-semi-bold);
}

 .line-right {
    flex: 1 1 30%;
 }
 /* end 1st type with logo */


 /* start 2nd type without logo: */
.headline-clear {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.line-both {
    flex: 1 1 30%;
}

.headline {
    flex: 1 1 35%;
    text-align: center;
    color: var(--main-color);
    font-size: var(--fs-900);
    font-weight: var(--fw-semi-bold);
}
 /* end 2nd type without logo: */

 #contact .headline-clear .headline {
    flex: 1 1 20%;
 }

.expand-article-link {
    color: var(--accent-color);
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

/* **************** NEWS **************** */

#news {
    align-self: center;
    display: flex;
    flex-direction: row;
    width: min(90%, 64rem);
    flex-wrap: wrap;
    justify-content: center;
}

.article-container {
    width: min(64rem, 90vw);
    height: auto;
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: var(--main-color-super-light);
    border-radius: 1.6rem;
    text-align: center;
    overflow: hidden;
}

.cutoff-text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


.article-content {
    height: 9.7rem;
    overflow: hidden;
    transition: all 1s ease;
}

.article-container .expand {
    height: auto;
}

.expand {
    height: auto;
}

.article-container time {
    color: var(--black-color);
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
}

.article-container h4 {
    color: var(--main-color);
    font-size: var(--fs-800);
    font-weight: var(--fw-semi-bold);
    margin: 0;
}

.article-container p {
    margin: .7rem;
    text-align: left;
}

/* **************** FORM **************** */

.contact-form-headline {
    color: var(--main-color);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

.form-name,
.form-email,
.form-phone,
.form-message {
    width: 26rem;
    background-color: var(--main-color-super-light);
    border: 0;
    border-radius: 1rem;
    color: var(--main-color);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    text-indent: 1rem;
}

.form-name,
.form-email,
.form-phone {
    height: 2.5rem;
} 

.form-message {
    height: 14.5rem;
}

.form-submit {
    width: 10rem;
    height: 3.1rem;
    margin-top: .5rem;
    background-color: var(--accent-color);
    border: 0;
    padding: .2rem 0 0 0;
    border-radius: 1.5rem;
    color: var(--white-color);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--production-color);
    transition: all .5s ease-in-out;
}

/* **************** CONTACT **************** */

#contact {
    margin-top: 3rem;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(90%, 64rem);
}

.contact-data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: var(--fs-700);
    font-weight: var(--fw-regular);
    color: var(--white-color);
 }

.contact-data > * {
    margin-top: 1.3rem;
    text-align: center;
 }

.contact-data > *:nth-child(-n+3) {
    flex: 0 1 33%;
 }

.contact-data > *:nth-child(4) {
    flex: 0 1 100%;
 }

.contact-data > *:nth-child(5),
.contact-data > *:nth-child(6) {
    flex: 0 1 47%;
 }

.contact-data > *:nth-child(7) {
    flex: 0 1 100%;
 }

.contact-data p {
    text-align: center;
    line-height: 1rem;
}

.contact-data a {
    font-weight: var(--fw-regular);
    text-decoration: none;
    color: var(--black-color);
}

.contact-data a:hover  {
    color: var(--accent-color);
}


.google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }

  .google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.name {
    font-weight: var(--fw-semi-bold);
}


/* **************** FOOTER **************** */

footer {
    width: 100%;
    height: 7rem;
    margin-top: 4rem;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

footer #footer-container {
    display: flex;
    flex-direction: column;
    width: min(64rem, 90%);
    color: var(--white-color);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    text-align: center;
}

footer #footer-container > div {
    flex: 1 1 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

footer #footer-container a {
    display: block;
    height: 2.5rem;
    font-weight: var(--fw-semi-bold);
    color: var(--white-color);
}

footer #footer-container a::after {
    content: "";
    display: none;
    position: relative;
    width: .2rem;
    height: .25rem;
    background-color: var(--main-color-light);
    animation: .5s lineUnder;
}

footer #footer-container a:hover::after {
    display: block;
}

/* **************** MEDIA QUERIES **************** */

/* MAX 1200px */
@media (max-width: 75rem) { /* 1200px */

    #header-top #navbar {
        width: 90%;
    }

    #header-top #navbar nav {
        margin-left: 3rem;
    }
}

/* MAX 1024px */
@media (max-width: 64rem) { /* 1024px */

    #header-top #navbar {
        width: 90%;
    }

    #header-top #navbar nav {
        margin-left: 1.5rem;
    }

    .headline-next-to-logo {
        font-size: var(--fs-800);
     }

    .line-left {
        flex: 1 1 5%;
     }

    .line-right {
        flex: 1 1 15%;
     }

    .headline {
        font-size: var(--fs-800);
     }

    #production > main,
    #production > form,
    #welding > main,
    #welding > form {
    flex: 0 1 100%;
    }
}

/* MAX 768px - hamburger menu */
@media (max-width: 48rem) { /* 768px */

    .article-container h4 {
        font-size: var(--fs-700);
    }

    .headline-with-logo {
        flex-wrap: wrap;
    }

    .logo-horizontal-container {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
    }

    .headline-with-logo .line-left,
    .headline-with-logo .line-right {
        flex: 1 1 5%;
    }

    .headline-clear {
        column-gap: 1.5rem;
    }

    #header-top #navbar {
        width: 90%;
        justify-content: space-between;
    }

    #header-top #navbar #logo-top {
        width: 140px;
        z-index: 900;
    }

    #header-top #navbar #choose-lang {
        display: none;
    }

    #header-top #navbar nav #nav-mobile {
        position: absolute;
        top: 2.18rem;
        right: 10%;
        height: 1.625rem;
        width: 2rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        border: 0;
        background: none;
        padding: 0;
    }

    #header-top #navbar nav #nav-mobile .menu-line {
        display: block;
        height: .25rem;
        width: 100%;
        border-radius: 10px;
        background: var(--black-color);
    }

    #header-top #navbar nav #nav-mobile .line1 {
        transform-origin: 0% 0%;
        transition: transform .4s ease-in-out;
    }
     
    #header-top #navbar nav #nav-mobile .line2 {
        transition: transform .2s ease-in-out;
    }
     
    #header-top #navbar nav #nav-mobile .line3 {
        transform-origin: 0% 100%;
        transition: transform .4s ease-in-out;
    }

    #header-top #navbar nav #navigation-links {
        position: absolute;
        width: 50%;
        top: 6rem;
        right: 0;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-block: 0;
        padding-block: 1.3rem;
        background-color: var(--white-color);
        transform: translateX(110%);
        transition: transform .5s ease-out;
        filter: drop-shadow(-.5rem 1rem .5rem #d1e9ff7e);
    }

    #header-top #navbar nav #navigation-links[data-visible="true"] {
        transform: translateX(0%);
    }

    #nav-mobile[aria-expanded="true"] > .line1 {
        transform: rotate(45deg);
    }

    #nav-mobile[aria-expanded="true"] > .line2 {
        transform: scaleY(0);
    }

    #nav-mobile[aria-expanded="true"] > .line3 {
        transform: rotate(-45deg);
    }
 
    #main-section {
        height: 35rem;
    }

    #main-section #main-headline {
        font-size: var(--fs-800);
    }

    .contact-data > *:nth-child(-n+3) {
        flex: 0 1 100%;
    }

    .contact-data > *:nth-child(5),
    .contact-data > *:nth-child(6) {
         flex: 0 1 100%;
    }
    
    .button:hover .button-link,
    .button-link:focus  {
        top: -11%;
        left: -17%;
        background-color: hsla(209, 99%, 38%, .5);
        width: 70%;
        height: 70%;
        padding: 40%;
        line-height: 2rem;
    }
}

/* MAX 480px */
@media (max-width: 30rem) { /* 480px */

    #header-top #navbar nav #navigation-links {
        width: 70%;
    }

    #production form {
        flex: 0 1 100%;
    }

    .form-name,
    .form-email,
    .form-phone,
    .form-message {
        width: min(26rem, 100%);
    }

    .button:hover .button-link,
    .button-link:focus  {
       font-size: 100%;
    }
}